# Tuples
This chapter presents one more built-in type, the tuple, and then shows how arrays,
dictionaries, and tuples work together.

## Tuples Are Immutable
A tuple is a sequence of values. The values can be of any type, and they are indexed by
integers, so in that respect tuples are a lot like arrays. The important difference is that
tuples are immutable and that each element can have its own type.

In [1]:
t = 'a', 'b', 'c', 'd', 'e'

('a', 'b', 'c', 'd', 'e')

In [23]:
typeof(t)

Vector{Tuple{Char, Int64}} (alias for Array{Tuple{Char, Int64}, 1})

In [2]:
t = ('a', 'b', 'c', 'd', 'e')

('a', 'b', 'c', 'd', 'e')

In [8]:
t1 = ('a',)

('a',)

In [9]:
typeof(t1)

Tuple{Char}

In [10]:
tuple()

()

In [11]:
t3 = tuple(1, 'a', pi)

(1, 'a', Ï€)

In [12]:
t = ('a', 'b', 'c', 'd', 'e')

('a', 'b', 'c', 'd', 'e')

In [13]:
t[1]

'a': ASCII/Unicode U+0061 (category Ll: Letter, lowercase)

In [14]:
t[2:4]

('b', 'c', 'd')

In [16]:
(0, 1, 2) < (0, 3, 4)

true

In [17]:
(0, 1, 20000) < (0, 3, 4)

true

In [18]:
(a, b) = (1, 2, 3)

(1, 2, 3)

In [20]:
addr = "julius.ceaser@rome"

"julius.ceaser@rome"

In [22]:
uname, domain = split(addr, '@')

2-element Vector{SubString{String}}:
 "julius.ceaser"
 "rome"

In [23]:
t = divrem(7, 3)

(2, 1)

In [26]:
q, r = divrem(7, 3);

@show q r;

q = 2
r = 1

In [27]:
function minmax(t)
    minimum(t), maximum(t)
end

minmax (generic function with 1 method)

In [28]:
minmax(10)

(10, 10)

In [31]:
extrema(2:5)

(2, 5)

In [32]:
extrema([1, 3, 5])

(1, 5)

In [33]:
function printall(args...)
    println(args)
end

printall (generic function with 1 method)

In [34]:
printall(1, 2.0, '3')

(1, 2.0, '3')

In [35]:
t = (7, 3)

(7, 3)

In [36]:
divrem(t...)

(2, 1)

In [38]:
max(1, 2, 3, 4)

4

## Exercise 12-1

Write a function called sumall that takes any number of arguments and returns their
sum.

In [46]:
function sumall(arg...)
    sum =0 
    for i in arg
        sum = sum + i
    end
    return sum 
end

sumall (generic function with 2 methods)

In [49]:
sumall(7, 4, 5, 4)

20

## Arrays and Tuples

In [5]:
s = "abc";
t = [1, 2, 3];

In [6]:
zip(s, t)

zip("abc", [1, 2, 3])

In [7]:
for pair in zip(s, t) 
    println(pair)
end

('a', 1)
('b', 2)
('c', 3)

In [9]:
collect(zip(s, t))

3-element Vector{Tuple{Char, Int64}}:
 ('a', 1)
 ('b', 2)
 ('c', 3)

In [10]:
collect(zip("Anne", "ElK"))

3-element Vector{Tuple{Char, Char}}:
 ('A', 'E')
 ('n', 'l')
 ('n', 'K')

You can use tuple assignment in a for loop to traverse an array of tuples:

In [11]:
t = [('a', 1), ('b', 2), ('c', 3)];

In [12]:
for (letter, number) in t
    println(number, " ", letter)
end

1 a
2 b
3 c

In [7]:
function hasmatch(t1, t2)
    for (x, y) in zip(t1, t2) 
        if x == y
            return true
        end
    end
end

hasmatch (generic function with 1 method)

In [8]:
t1 = "abcd"
t2 = "cdcf"

"cdcf"

In [9]:
hasmatch(t1, t2)

true

In [10]:
for (index, element) in enumerate("abc")
    println(index, " ", element)
end

1 a
2 b
3 c

## Dictionaries and Tuples

Dictionaries can be used as iterators that iterate the key-value pairs. You can use a
dictionary in a for loop like this:

In [11]:
d = Dict('a' => 1, 'b' => 2, 'c' => 3)

Dict{Char, Int64} with 3 entries:
  'a' => 1
  'c' => 3
  'b' => 2

In [12]:
for (key, value) in d
    println(key, " ", value)
end

a 1
c 3
b 2

In [13]:
t = [('a', 1), ('c', 3), ('b', 2)]

3-element Vector{Tuple{Char, Int64}}:
 ('a', 1)
 ('c', 3)
 ('b', 2)

In [14]:
d = Dict(t)

Dict{Char, Int64} with 3 entries:
  'a' => 1
  'c' => 3
  'b' => 2

In [15]:
d = Dict(zip("abc", 1:3))

Dict{Char, Int64} with 3 entries:
  'a' => 1
  'c' => 3
  'b' => 2

In [ ]:
directory[last, first] = number

In [22]:
directory = Dict(("Cleese", "John") => 8936)

for ((last, first), number) in directory
    println(first, " ", last, " ", number)
end

John Cleese 8936