Tuple are immutable Data structure

+ Tuple types may have any number of parameters.
• Tuple types are covariant in their parameters: Tuple{Int} is a subtype of Tuple{Any}. Therefore, they can accept any datatype. 
    Tuple{Any} is considered an abstract type, and tuple types are only concrete if their parameters are.
• Tuples do not have field names; fields are only accessed by index.

In [10]:
tpl1  = (3, "Julia", 2022, 4.12)

(3, "Julia", 2022, 4.12)

In [2]:
typeof(tpl1)

Tuple{Int64, String, Int64, Float64}

You can also create tuple itself with another tuple function

In [3]:
tpl2 = tuple(3, "Julia", 2022, 4.12)

(3, "Julia", 2022, 4.12)

In [4]:
tpl1 = tpl2

(3, "Julia", 2022, 4.12)

"Tuple" is the name of the type, while "tuple" is the function

In [5]:
supertype(Tuple)

Any

In [6]:
tpl2 = (4, 9, 3.5, 4.5)

(4, 9, 3.5, 4.5)

In [8]:
typeof(tpl2)

Tuple{Int64, Int64, Float64, Float64}

In [9]:
typeof(tpl2)

Tuple{Int64, Int64, Float64, Float64}

In [10]:
tpl3 = "Julia", 5+7, 10//3

("Julia", 12, 10//3)

In [11]:
typeof(tpl3)

Tuple{String, Int64, Rational{Int64}}

In [12]:
t = (6)

6

In [13]:
typeof(t)

Int64

In [14]:
t = (6, ) # To make it a tuple, we need to use a ","

(6,)

In [15]:
typeof(t)

Tuple{Int64}

In [16]:
tpl1[1]

3

In [17]:
tpl1[2]

"Julia"

In [18]:
tpl1[2:3]

("Julia", 2022)

In [19]:
tpl = (name = "Julia", year = 2022, version = 1.7)

(name = "Julia", year = 2022, version = 1.7)

In [20]:
tpl[1]

"Julia"

In [21]:
tpl.version

1.7

In [2]:
mathConsts = (MathConstants.pi, MathConstants.e, MathConstants.golden)

(π, ℯ, φ)

In [3]:
p, e, g, = mathConsts

(π, ℯ, φ)

In [4]:
p

π = 3.1415926535897...

In [5]:
e

ℯ = 2.7182818284590...

Tuples with same kind of element(DataTypes) are called NTuples, Find example below

In [6]:
nt = (3, 4, 5, 6)

(3, 4, 5, 6)

In [7]:
typeof(nt)

NTuple{4, Int64}

In [8]:
ntuple(x -> x^3, 5)

(1, 8, 27, 64, 125)

In [11]:
in(2022, tpl1)

true

In [12]:
in("Python", tpl1)

false

In [13]:
2022 ∈ tpl1  #\in TAB

true

In [18]:

1999 ∉ tpl1

true

In [19]:
2022 ∉ tpl1

false