In [1]:
for i in 1:4
    println(i^2)
end

1
4
9
16

In [3]:
for i in 1:4
    println("Another iteration in the loop")
end

Another iteration in the loop
Another iteration in the loop
Another iteration in the loop
Another iteration in the loop

In [4]:
for j = 1:4 
    println(j^3)
end

1
8
27
64

In [6]:
for k ∈ 1:4 
    println(k^2)
end

1
4
9
16

In [7]:
for name ∈ ["Julia", "R", "Python", "C"]
    println(name)
end

Julia
R
Python
C

In [8]:
arr = rand(5:25, 5)

5-element Vector{Int64}:
 16
 25
 15
  7
 18

In [9]:
for i in 1:length(arr)
    println("$i. element is $(arr[i]).")
end

1. element is 16.
2. element is 25.
3. element is 15.
4. element is 7.
5. element is 18.

In [12]:
for (index, value) ∈ enumerate(arr)
    println("The No. $(index). element is $(value).")
end

The No. 1. element is 16.
The No. 2. element is 25.
The No. 3. element is 15.
The No. 4. element is 7.
The No. 5. element is 18.

In [13]:
mat = rand(15:44, (3,2))

3×2 Matrix{Int64}:
 38  27
 24  24
 24  26

In [15]:
for row in 1:size(mat,1)
    for col in 1:size(mat,2)
        println("Row: $row, column: $col, Value: $(mat[row, col])")
    end
end

Row: 1, column: 1, Value: 38
Row: 1, column: 2, Value: 27
Row: 2, column: 1, Value: 24
Row: 2, column: 2, Value: 24
Row: 3, column: 1, Value: 24
Row: 3, column: 2, Value: 26

In [17]:
mat5 = rand(5:50, (4, 4))

4×4 Matrix{Int64}:
 10  19  31  20
 11  13  42  20
 50  43  28  23
 19  16  34  21

In [21]:
for row in 1:size(mat5,1)
    for col in 1:size(mat5,2)
        println("Row: $row, column: $col, Value: $(mat5[row, col])")
    end
end

Row: 1, column: 1, Value: 10
Row: 1, column: 2, Value: 19
Row: 1, column: 3, Value: 31
Row: 1, column: 4, Value: 20
Row: 2, column: 1, Value: 11
Row: 2, column: 2, Value: 13
Row: 2, column: 3, Value: 42
Row: 2, column: 4, Value: 20
Row: 3, column: 1, Value: 50
Row: 3, column: 2, Value: 43
Row: 3, column: 3, Value: 28
Row: 3, column: 4, Value: 23
Row: 4, column: 1, Value: 19
Row: 4, column: 2, Value: 16
Row: 4, column: 3, Value: 34
Row: 4, column: 4, Value: 21

In [23]:
for row in  1:size(mat5,1), col in 1:size(mat5,2)
    println("Row: $row, Column: $col, value: $(mat5[row, col])")
end

Row: 1, Column: 1, value: 10
Row: 1, Column: 2, value: 19
Row: 1, Column: 3, value: 31
Row: 1, Column: 4, value: 20
Row: 2, Column: 1, value: 11
Row: 2, Column: 2, value: 13
Row: 2, Column: 3, value: 42
Row: 2, Column: 4, value: 20
Row: 3, Column: 1, value: 50
Row: 3, Column: 2, value: 43
Row: 3, Column: 3, value: 28
Row: 3, Column: 4, value: 23
Row: 4, Column: 1, value: 19
Row: 4, Column: 2, value: 16
Row: 4, Column: 3, value: 34
Row: 4, Column: 4, value: 21

In [24]:
for row in 1:6
    for col in 1:4 
        print((row, col))
    end 
    println()
end

(1, 1)(1, 2)(1, 3)(1, 4)
(2, 1)(2, 2)(2, 3)(2, 4)
(3, 1)(3, 2)(3, 3)(3, 4)
(4, 1)(4, 2)(4, 3)(4, 4)
(5, 1)(5, 2)(5, 3)(5, 4)
(6, 1)(6, 2)(6, 3)(6, 4)

In [27]:
names = ["Albert", "Marie", "Isaac", "Roselind", "Richard"]
surnames = ["eistein", "Curie", "Newton", "Franklin", "Feynman"]
birthyears = [1879, 1867, 1643, 1918];

In [29]:
for (name, surname, byear) ∈ zip(names, surnames, birthyears)
    println((name, surname, byear))
end

("Albert", "eistein", 1879)
("Marie", "Curie", 1867)
("Isaac", "Newton", 1643)
("Roselind", "Franklin", 1918)

In [31]:
d = Dict("a" => 10, "b" => 20, "c" => 30, "d" => 40)

Dict{String, Int64} with 4 entries:
  "c" => 30
  "b" => 20
  "a" => 10
  "d" => 40

In [32]:
for (key, val) in d 
    println("Key is: $key, Value is: $val")
end

Key is: c, Value is: 30
Key is: b, Value is: 20
Key is: a, Value is: 10
Key is: d, Value is: 40

In [33]:
# Another of doing this 
for item in d
    println("Key is: $(item.first), Value is: $(item.second)")
end

Key is: c, Value is: 30
Key is: b, Value is: 20
Key is: a, Value is: 10
Key is: d, Value is: 40

In [35]:
# Iterate strings using for loops
str = "Julia Language"
for c in str 
    print("$c|")
end

J|u|l|i|a| |L|a|n|g|u|a|g|e|

In [36]:
file = "InputFile.txt"

for line in eachline(file)
    println(line)
end

For loop is the most common type of loops.
The other type of loop is the while loop
Loops are very powerful and fast in Julia.

In [39]:
arr2 = rand(-1_000_000:1_000_000, 100);

This code check for the maximum number inb the array

In [40]:
maxnum = typemin(Int64)

for num ∈ arr2 
    if num > maxnum 
        maxnum = num 
    end 
end

println(maxnum)

991678

This code will calculate the average number in the array

In [41]:
sum = 0
n = 0

for num in arr2
    sum += num
    n += 1
end 
average = sum / n
println(average)

84413.9