In [2]:
using DelimitedFiles
Ebola_Data = DelimitedFiles.readdlm("Ebola_Data.csv", ',')

54×9 Matrix{Any}:
 "25 Nov 2015"  28637  11314  3804  2536  …  4808     14122     3955
 "18 Nov 2015"  28634  11314  3804  2536     4808     14122     3955
 "11 Nov 2015"  28635  11314  3805  2536     4808     14122     3955
 "4 Nov 2015"   28607  11314  3810  2536     4808     14089     3955
 "25 Oct 2015"  28539  11298  3806  2535     4808     14061     3955
 "18 Oct 2015"  28476  11298  3803  2535  …  4808     14001     3955
 "11 Oct 2015"  28454  11297  3800  2534     4808     13982     3955
 "27 Sep 2015"  28388  11296  3805  2533     4808     13911     3955
 "20 Sep 2015"  28295  11295  3800  2532     4808     13823     3955
 "13 Sep 2015"  28220  11291  3792  2530     4808     13756     3953
 ⋮                                        ⋱
 "14 Jul 2014"    982    613   411   310  …   106       397      197
 "2 Jul 2014"     779    481   412   305       75       252      101
 "17 Jun 2014"    528    337   398   264       24        97       49
 "27 May 2014"    309    202   281   186       11        16        5
 "12 May 2014"    260    182   248   171       11          "–"      "–"
 "1 May 2014"     239    160   226   149  …    11          "–"      "–"
 "14 Apr 2014"    176    110   168   108        2          "–"      "–"
 "31 Mar 2014"    130     82   122    80        2          "–"      "–"
 "22 Mar 2014"     49     29    49    29         "–"       "–"      "–"

In [3]:
using  Dates
Dates.DateTime(Ebola_Data[1,1], "d u y")

2015-11-25T00:00:00

In [4]:
Ebola_Data

54×9 Matrix{Any}:
 "25 Nov 2015"  28637  11314  3804  2536  …  4808     14122     3955
 "18 Nov 2015"  28634  11314  3804  2536     4808     14122     3955
 "11 Nov 2015"  28635  11314  3805  2536     4808     14122     3955
 "4 Nov 2015"   28607  11314  3810  2536     4808     14089     3955
 "25 Oct 2015"  28539  11298  3806  2535     4808     14061     3955
 "18 Oct 2015"  28476  11298  3803  2535  …  4808     14001     3955
 "11 Oct 2015"  28454  11297  3800  2534     4808     13982     3955
 "27 Sep 2015"  28388  11296  3805  2533     4808     13911     3955
 "20 Sep 2015"  28295  11295  3800  2532     4808     13823     3955
 "13 Sep 2015"  28220  11291  3792  2530     4808     13756     3953
 ⋮                                        ⋱
 "14 Jul 2014"    982    613   411   310  …   106       397      197
 "2 Jul 2014"     779    481   412   305       75       252      101
 "17 Jun 2014"    528    337   398   264       24        97       49
 "27 May 2014"    309    202   281   186       11        16        5
 "12 May 2014"    260    182   248   171       11          "–"      "–"
 "1 May 2014"     239    160   226   149  …    11          "–"      "–"
 "14 Apr 2014"    176    110   168   108        2          "–"      "–"
 "31 Mar 2014"    130     82   122    80        2          "–"      "–"
 "22 Mar 2014"     49     29    49    29         "–"       "–"      "–"

### For Loops

In [5]:
for num = 3:7
    println("num is now $num")
end

num is now 3
num is now 4
num is now 5
num is now 6
num is now 7

In [6]:
testvalues = [23, "My name is not a name", 'N']
for x in testvalues
    println("The value of x is now $x")
end

The value of x is now 23
The value of x is now My name is not a name
The value of x is now N

In [11]:
col1 = Ebola_Data[:,1]

54-element Vector{Any}:
 "25 Nov 2015"
 "18 Nov 2015"
 "11 Nov 2015"
 "4 Nov 2015"
 "25 Oct 2015"
 "18 Oct 2015"
 "11 Oct 2015"
 "27 Sep 2015"
 "20 Sep 2015"
 "13 Sep 2015"
 ⋮
 "14 Jul 2014"
 "2 Jul 2014"
 "17 Jun 2014"
 "27 May 2014"
 "12 May 2014"
 "1 May 2014"
 "14 Apr 2014"
 "31 Mar 2014"
 "22 Mar 2014"

In [12]:
using Dates 

for i = 1:length(col1)
    col1[i] = Dates.DateTime(col1[i], "d u y")
end

In [13]:
col1

54-element Vector{Any}:
 2015-11-25T00:00:00
 2015-11-18T00:00:00
 2015-11-11T00:00:00
 2015-11-04T00:00:00
 2015-10-25T00:00:00
 2015-10-18T00:00:00
 2015-10-11T00:00:00
 2015-09-27T00:00:00
 2015-09-20T00:00:00
 2015-09-13T00:00:00
 ⋮
 2014-07-14T00:00:00
 2014-07-02T00:00:00
 2014-06-17T00:00:00
 2014-05-27T00:00:00
 2014-05-12T00:00:00
 2014-05-01T00:00:00
 2014-04-14T00:00:00
 2014-03-31T00:00:00
 2014-03-22T00:00:00

In [16]:
Dates.datetime2rata(col1[1])

735927

In [19]:
dayssincemar22(x) = Dates.datetime2rata(x) - Dates.datetime2rata(col1[54])
epidays = Array{Int64}(undef, 54)

for i = 1:length(col1)
    epidays[i] = dayssincemar22(col1[i])
end

In [21]:
Ebola_Data[:, 1] = epidays
DelimitedFiles.writedlm("New_Ebola_Data.csv", Ebola_Data, ',')